
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --cor01:#00c6cc;
    --cor02:#1e73be;
    --cor03:#25d366;
    --cor05:#c9f300;
    --cor04:#3a4856;
    
}
*{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid rgb(172, 255, 47); */
}
main{
    width: 100vw;
    overflow: hidden;
}
body{
    background-color: rgba(167, 252, 255, 0.096);
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    position: center;
    
}
h2{
    font-size:28px;
    font-family:  "Playfair Display", serif;
}
h3{
    font-size:24px  
}
/* .ssss{ */
    /* text-transform: capitalize; */
    /* font-variant:small-caps ; */
/* } */
header{
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 17vh;
    width: 98.8vw;
    overflow: hidden;
    position: fixed;
    border-bottom: 1px solid gray;
    z-index: 999999999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.315);
}
header svg{
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
    
}
nav img {
    display: flex;
    position: absolute;
    top:30%;
    left: 5%;
}
.f-logo{
    background-color: white;
    display: block;
}
.logo{
    height: 90px;
}
nav{
    height: 12vh;
    text-align: center;
    display: flex;
    align-items: right;
    justify-content: right;
    font-weight: 400;
}
.menu-desktop ul{
    list-style: none;
    color:#1e73be;
    text-decoration: inherit;
    font-size: 1rem;
    transition-duration: 0.2s;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.menu-desktop ul a{
    list-style: none;
    color:#1e73be;
    text-decoration: inherit;
    font-size: 1rem;
    transition-duration: 0.2s;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);

}
.menu-desktop ul:last-child{
    margin-right: 5%;
}
nav ul a:hover{
    color: #00c6cc;
}
/* Estilo do menu mobile */

@media screen and (max-width:950px) {
    #btn-menu{
        display: flex;
    }
    #menu-desktop ul a{
        display: none;
    }
    
}
.btn-abrir-menu{
    color: #1e73be;
    font-size: 40px;
    display: none;
    cursor: pointer;
}
.overlay-menu{
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888888888;
    display: none;
}
.menu-mobile.abrir-menu{
    width: 70%;
    max-width: 350px;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display:block ;
}
.menu-mobile{
    background-color: #1e73be;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999999999;
    width: 0%;
    overflow: hidden;
    transition: .35s;
}
.menu-mobile nav ul{
    text-align: right;
    list-style-type: none;
    width: 100%;
}
.menu-mobile nav ul li a{
    color: #fff;
    font-family: 400;
    padding: 20px 4%;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
}

.menu-mobile nav ul li a:hover{
    background-color: #00c6cc;

}
.menu-mobile .btn-fechar{
    padding-left: 20px;
}
.menu-mobile .btn-fechar i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;

}

.primeiro{
    margin-top: 17vh;
}
main{
    width: 100%;
    margin: auto;
    display: block;
}
@media screen and (max-width:600px){
    #slide-box{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 95vh;
    }
    #gamb{
        height: 50px;
        
    }
    #slider{
        height: 95vh;
        
    }
    #section-1f{
        height: 40vh;
        
    }


}
.slider{
    background-image: url(../imagens/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    background-position: center;
    animation: zoomInOut 10s infinite;
    
}
@media screen and (max-width:950px){
    #slider{
        animation: zoomOutIn 10s infinite;

    }
} 
    
@keyframes zoomOutIn {
    0% {
        background-size: 280%;
    }
    50% {
        background-size: 295%;
    }
    100% {
        background-size: 280%;
    }
}
/* Definindo a animação de zoom */
@keyframes zoomInOut {
    0% {
        background-size: 150%;
    }
    50% {
        background-size: 165%;
    }
    100% {
        background-size: 150%;
    }
}


.section-1f{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 66%;

}
.gamb{
    height: 50%;
}
.slide-box{
    display: flex;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 20px 200px 230px 200px;
    place-items: left; */
    flex-direction: row;
    background-color: #0000003f;
    height: 93vh;
    min-height: 93vh;
    /* position: relative; */

}
.dh2 button{
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    font-weight: 700;
    box-shadow:0px 0px 3px black;
}
.dh2 button:hover{
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 9px;
    margin:1px;
}
.dh2{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    background-color: #5555558a;
    min-width: 280px;   
    width: clamp(300px,30vw,600px);
    border-radius: 25px;
    height: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    align-self: center;
    padding: 10px;
    text-align: center;
    /* grid-row: 3;
    grid-column: 1; */
    /* position: relative;
    left: 10%;
    top: 50%; */
    
}
.dh2hr{
    max-width: 200px;
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dh2 h2{
    font-size: 2rem;
}
.dh2 h3{
    font-size: 1.2rem;
}

#initial-container, #acrostic-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-self: initial;
    justify-content: center;
    font-family: "dosis", sans-serif;
    grid-column: 2;
    grid-row: 2;color: rgb(0, 0, 0);
    /* position: absolute; */
    padding: 0;
    transition: 0.2s;
    min-height: 50vh;
    
    
}

#initial-container > div, #acrostic-container > div {
    font-size: clamp(1.2em,5vw,1.7em);
    font-weight: 500;
    white-space: pre; /* Preserve whitespace */
    font-family: "dosis", sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: 0.2s;
    
}

.initial {
    font-size: clamp(1.2em,5vw,1.7em);
    font-weight: bold;
    font-family: "dosis", sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: 0.2s;

}

.content {
    font-size: clamp(1.2em,5vw,1.7em);
    white-space: pre; /* Preserve whitespace */
    font-family: "dosis", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: 0.2s;
    

}

.cursor {
    font-size: clamp(1em,1vw,1.5em);
    animation: blink 1s infinite;
    font-family: "dosis", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
    transition: 0.2s;
    
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.refe{
    max-width:600px ;   
    width: 30%;
}
.refe p{
    margin-top: 15px;
}
.dh4{
    text-align: justify;
    max-width: 900px;
    padding: 20px;
}
.HOS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:300px ;
}
h3{
    margin-bottom: 10px;
}
.t-ramos{
    text-align: center;
    font-weight: 100;
    padding: 10px;
}
.texto-animado{
    opacity: 0.6; /* Começa com opacidade zero para o texto não ser visível */
    transition: opacity 3s ease, transform 3s ease; 
    transform: translateY(20px); /* Move o texto para baixo 20px */ 
}
.texto-animado.aparecendo {
    opacity: 1;
    transform: translateY(0); /* Retorna o texto à sua posição original */
}
.imgrefe{
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 320px;;

}
.hr1{
    width: 12Vh;
    border: 1px solid #1e73be;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    
}
.hr2{
    width: 12Vh;
    border: 1px solid #25d366;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}
.titulo2{
    justify-content: center;
    text-align: center;
    font-family: "dosis", sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 2px 4px black;
    
}
.carousel-container {
    position: relative;
    width: 80%;
    max-width: 2100px; /* 3 * 700px */
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}


.linear{
    background: linear-gradient(to left, #00c5ccb6,#1e73bec9 );
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:20px ;
}
.carousel :where(.card, .img){
    display:flex;
    justify-content: center;
}
.carousel .card{
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.308);
    cursor: pointer;
    scroll-snap-align: start;
    margin-top: 30px;
}
.card .img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .carousel{
    display: grid;
    width: 80vw;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 12px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.wrapper>i{
    height: 50px;
    width: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.493);
    font-size: 1.43rem;
}
.wrapper>i:hover{
    background-color: #f0eded;
}
.wrapper>i:first-child{
    left: -1vw;
}
.wrapper>i:last-child{
    right: -1vw;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
@media screen and (max-width:900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% /2 ) - 12px);
    }
}
@media screen and (max-width:600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
        width: 350px;
    }
    
}
.img{
    border-radius: 8px;
}
.rs{
    background-image: linear-gradient(to right, #00c5ccb6,#1e73be);
    height: auto;
    text-align: center;  
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    overflow: hidden;
      
}
.rs img{
    margin-top: 2.5px;
    width: 15px;
    height: auto;
    padding: 5px;
    border: 2px solid  #1e73be;
    border-radius: 40px;
    background-color:white;
    
}.HOS p {
    margin: 20px;
    margin-top: 0px;
}
.rs p{
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
    place-items: center;
    font-weight: 400;
    display: flex;
    flex-direction: row;gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem,1.8vw,1.2rem);
}
.inl{
    font-weight: bold;
}
@media screen and (max-width:700px){
    #upground {
        flex-direction:column;
    }
    #G-logos {
        flex-direction: row;
        gap: 10px;
    }
    #G-logos img{
        width: 60px;
        margin-top: 10px;
        padding: 5px;
        background-color: white;
        
    }
    #maps{
        width: 450px;
    }
}   

.upground{
    background-color: #4949495e;
    height:auto;
    display: flex;
    flex-direction:row;
    min-width: 98.8vw;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.ft-bg h6{
    font-size: 1.8rem;
    margin-top: 20px;
    color: #f0eded;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
    font-weight: 500;
    height: 50px;
}   
.upground p{
    font-size: 1.2rem;
    color: #f0eded;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
    font-weight: 500;
    margin-bottom:10px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ft-bg{
    background-image: url(../imagens/predio.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    animation: zoomInOut 10s infinite;
}
.G-logos{
    align-items: center;    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maps{
    border: 2px solid #00c6cc;
    border-radius: 25px;
    grid-row: 3;
    grid-column: 1;
    width: 500px;
}
.lin{
    grid-row: 1;
    grid-column: 2; 
}

.lin2{
    grid-row: 2;
    grid-column: 2;
}.lin3{
    grid-row: 3;
    grid-column: 2;
}.lin4{
    grid-row: 4;
    grid-column: 2;
}
.redes{
    border-radius: 30px;
    height: auto;
    width: 100px;
    border: 5px solid #1e73be;
}
.G-logos h5{
    color: #f0eded;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    

}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px;
    background-image: url(../imagens/predio.jpg);
    background-position: top;
    background-size: cover;
    color: #ffffffad;
}

.bg-titulo1{
    background-image: url(../imagens/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    background-position: 50% 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    animation: zoomInOut 10s infinite;
}
.titulo1{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
    margin: 0;
    font-size: 3rem;
}
.colum{
    display: flex;
    flex-direction: column;
}
.up-bg{
    background-color: #0000003f;
    height: 25vh;
    width: 98.8vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(36, 36, 43);
    box-shadow: 2px 2px 4px rgb(49, 48, 48);
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  ;
}
.P-grupo{
    
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    

}
.P-grupo img{
    width: 250px;
    height: 250px;
    border: 3px solid #00c6cc;
    border-radius: 50%;
    background-color: white;
    outline: 1px solid blue;
    margin-top: 30px;
    position: center;
    size: cover;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.308);
}
.S-grupo{
    display: flex;
    justify-content: center;
}
.contab{
    background-image: url(../imagens/logo/5.png);
    background-position: center;
    background-size: 100%;
    width: 250px;
    height: 250px;
    border: 3px solid #00c6cc;
    border-radius: 50%;
    background-color: white;
    outline: 1px solid blue;
    margin-top: 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.308);
    
}
.P-grupo h4{
    margin-top: 10px;
    text-shadow: 1px 1px 10px #00000069;
}
.fx-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 80vw;
    min-width: 65vw;
    border-radius: 30px;
    box-shadow: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);

    
}
.fx-form form{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    margin-top: 20px;
}
.fx-form h1{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.411);
    color: white;
    text-shadow: 1px 1px 4px black;
}
.fx-form form input{
    max-width: 60vw;
    width: 55vw;
    height: 25px;
    border-radius: 10px;
}
.fx-form form textarea{
    max-width: 60vw;
    width: 55vw;
}
.fx-form label{
    text-align: left;
    color: #1e73be  ;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);

}
.main-ctt{
    background-color: rgba(190, 231, 231, 0.432);
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#btn-send{
    width: 80px;
    height: 45px;
    border-radius: 20px;
    align-self: end;
}
.fx-02-fin{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 800px;
}
@media screen and (max-width:800px) {
    #fx-02-fin{
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 360px;

    
    }
}
.fx-02-fin img{
    width: 20vw;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 200px;
    
}
.fx-02-fin p{
    max-width: 400px;

}
.fx-01-fin h2{
    margin-top: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: center;
}
.fx-01-fin{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 25px;
}
.fx-03-fin{
    background-image: linear-gradient( to left, #00c5ccb6, #1e73be);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    
}
@media screen and (max-width:800px) {
    #fx-04-fin{
        flex-direction: column;
        align-items: center;
        

    }
    #fx-04-fin hr{
        height: 0px;
        width: 400px;
    }
    #fx-04-fin p{
        width: 60%;
        text-align: center;
    }
    #fx-04-fin img{
        max-height: 250px;
        border-radius: 20px;
        margin-left: 20px;
    }
    #fx-04-fin ul{
        width: 60%;
        margin-left: 20px;
    
}}
.fx-04-fin{
    display: flex;
    flex-direction: row;
    margin: 30px;
    width: 100vw;
    gap: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
    justify-content: center;

}
.fx-03-fin h2{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    margin-top: 15px;

}
.fx-04-fin ul li{
    font-size: clamp(0.8rem,1vw,1.2rem);
}
.fx-04-fin ul{
    list-style: none;
    width: 30%;
    margin-left: 20px;
}
.fx-04-fin p{
    width: 20%;
    text-align: center;
}
.fx-04-fin hr{
    height: 260px;
}
.fx-04-fin img{
    max-height: 250px;
    border-radius: 20px;
    margin-left: 20px;
}
.fx-05-fin{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;

}
.fx-05-fin p{
    margin-top:15px;
    margin-bottom: 25px;
    max-width: 700px;
    text-align: center;
}
.fx-05-fin h2{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.747);
    color: white;
}
.fx-06-fin{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width:90vw ;    
    margin-bottom: 25px;
}
.fx-06-fin img{
    padding: 10px;
    border-radius: 25px;
    background-image: linear-gradient( to left, #00c5ccb6, #1e73be);
    width: clamp(150px,1vw,300px);
}