
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --cor01:#00c6cc;
    --cor02:#1e73be;
    --cor03:#25d366;
    --cor05:#c9f300;
    --cor04:#3a4856;
    
}
*{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid greenyellow; */
}
main{
    width: 100vw;
    overflow: hidden;
}
body{
    background-color: rgba(167, 252, 255, 0.096);
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    
}
p{
    font-size: 18px;
    margin-top: 15px;
}   
h2{
    font-size:28px;
    font-family:  "Playfair Display", serif;
}
h3{
    font-size:24px  
}
header{
    background-color: rgb(255, 255, 255);
    
}
.logo{
    height: 90px;
}
nav{
    height: 12vh;
    text-align: center;
    display: flex;
    gap: 30px;
    align-items: center;justify-content: center;
    font-weight: 400;

    
}
.menu-desktop ul{
    list-style: none;
    color:#1e73be;
    text-decoration: inherit;
    font-size: 1.8rem;
    transition-duration: 0.2s;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.menu-desktop ul a{
    list-style: none;
    color:#1e73be;
    text-decoration: inherit;
    font-size: 1.8rem;
    transition-duration: 0.2s;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.356);
}
nav ul a:hover{
    color: #00c6cc;
}
main{
    width: 100%;
    margin: auto;
    display: block;
}.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    background-size: cover;
    border-radius: 0px;
    height: 80vh;
}
.slider-content{
    width: 400%;
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    transition: transform 2s ease;
}
.slider-content input{
    display:none;
}
.slide-box{
    width: 25%;
    height: 20%;
    position: relative;
    text-align: center;
    transition: 2s;
    border-radius: 10px;
    max-height: 520px;
    background-size:cover;
    position: center center;
}
.slide-box img{
    width: 100vw;
    align-items: center;
}
.nav-manual,.nav-auto{
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    display: none;
    bottom: 250px; /* Alinhar os botões na parte inferior */
    left: 0;
    
}
.nav-manual .manual-btn,.nav-auto div{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5%; /* Ajuste o padding para manter o tamanho em torno de 250px */
    max-width: 250px; /* Definir a largura máxima para manter o tamanho dos botões */
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child),.nav-auto div:not(:last-child){
    margin-right: 10px;
}.nav-manual .manual-btn:hover{
    background-color: rgb(255, 255, 255);
}
.nav-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    z-index: 1px; /* Coloca as setas acima dos slides */
    left: 0%;
    justify-content: center;
}
.left-arrow {
    margin-right: 40vw; /* Espaço entre a seta esquerda e a seta direita */
    border-radius:  50% 20% 20% 50%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.658));
}

.right-arrow {
    margin-left: 40vw; /* Espaço entre a seta direita e a seta esquerda */
    border-radius:  20% 50% 50% 20%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.658));
}
.arrow {
    font-size: 28px;
    cursor: pointer;
    padding: 1px 9px;
    
    transition: background-color 0.3s;
    justify-content: center;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#radio1:checked ~ .nav-auto .auto-btn1,#radio2:checked ~ .nav-auto .auto-btn2,#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(250, 255, 255);
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.dh2{
    color: rgb(255, 255, 255);
    position: absolute;
    text-shadow: 1px 1px 1px black;
    top: 50%;
    left: 20%;
    transform: translate(-25%,-25%);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.205), rgba(0, 0, 0, 0.322));
    padding: 10px;
    max-width: 500px;
    max-height: 600px;
    border-radius: 25px;
    
}
.btn-slid{
    padding: 10px;
    border-radius: 10px;
    background-image: radial-gradient(circle, rgba(0, 255, 255, 0.041), rgba(0, 0, 139, 0.062));
    transition: 0.1s;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    left: 10%;
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.btn-slid:hover{
    padding: 12px;
    border-radius: 15px;
    background-color: rgba(42, 190, 216, 0.849);

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.dh3{
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.refe{
    max-width:600px ;
    width: 30%;
}
.dh4{
    display: flex;
    flex-direction: column;

}
h3{
    margin-bottom: 10px;
}
.t-ramos{
    text-align: center;
    font-weight: 100;
    margin-top: 15px;
    padding: 10px;
}
.texto-animado{
    opacity: 0.6; /* Começa com opacidade zero para o texto não ser visível */
    transition: opacity 3s ease, transform 3s ease; 
    transform: translateY(20px); /* Move o texto para baixo 20px */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-animado.aparecendo {
    opacity: 1;
    transform: translateY(0); /* Retorna o texto à sua posição original */
}
.imgrefe{
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.infoimg{
    width: 30px;
}
footer{

}
.center{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 320px;;

}
.hr1{
    width: 10Vh;
    border: 1px solid #1e73be;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    
}
.hr2{
    width: 10Vh;
    border: 1px solid #25d366;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}
.popup h2 {
    margin-top: 0;
    color: #00c6cc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}
.popimg{
    width: 30%;
    height: auto;
    position: relative;
    top:5%;
    left: 0%;
    border-radius: 15px;
}
.popup p {
    margin-bottom: 15px;
}
.popt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.popup button {
    padding: 0px 2px 0px 2px; 
    background-color: #33333300;
    color: rgba(0, 0, 0, 0.342);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 96%;
}

.popup button:hover {
    background-color: #555;
}
.titulo2{
    justify-content: center;
    text-align: center;
    font-family: "dosis", sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 2px 4px black;
    
}
.flex{
    
    margin-top: 0px;
    max-width: 98vw;
    width: 900px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    position: relative;
    width: 80%;
    max-width: 2100px; /* 3 * 700px */
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 700px;
    max-width: 700px;
    max-height: 900px;
    box-sizing: border-box;
    margin-right: 10px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.linear{
    background: linear-gradient(to left, #00c5ccb6,#1e73bec9 );
    width: 100%;
    height: 380px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel :where(.card, .img){
    display:flex;
    justify-content: center;
}
.carousel .card{
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.308);
    cursor: pointer;
    scroll-snap-align: start;
    margin-top: 30px;
}
.card .img img{
    width: 400px;
    height: auto;
    object-fit: cover;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 12px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.wrapper i{
    height: 50px;
    width: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.493);
    font-size: 1.43rem;
}
.wrapper i:hover{
    background-color: #f0eded;
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.img{
    border-radius: 8px;
}
/* @media screen and (max-width:900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% /2 ) - 9px);
    }
}
@media screen and (max-width:600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
    
} */